@import "../styles/colors.scss";

.footer {
  height: calc(100vh - 100px);
  background-color: #222;
  display: flex;

  &__item {
    flex: 1;
    position: relative;
    display: flex;

    @include breakpoint-down(medium) {
      flex-direction: column;
      text-align: center;
    }

    &:first-child {
      @include breakpoint-down(large) {
        display: none;
      }
    }

    &:last-child {
      flex: 2;
      padding: 50px;
      justify-content: space-between;
    }
  }

  &__card {
    flex: 1;
    padding: 0 20px;
  }

  &__title {
    font-size: 18px;
    color: #b7903c;
  }

  &__text {
    color: lightgray;
  }

  &__motto {
    color: rgb(211, 211, 211);
  }
}
